.alpha-fold-protien-structure {
    display: flex;
    /* border: 1px solid black; */
    gap: 10px;
}

.alpha-fold-protien-structure .left-part, .alpha-fold-protien-structure .right-part {
    height: 100%;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    background-color: black;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}



*{
    background-color: black;
}